
{% extends "base.html" %} {% block content %}
 
            <div class="row">
                <div class="col-md-6">
                    <div class="text-center">
                     

                              <img src="static/img/img2.png" class="img-fluid"
                            alt="intro-img" height="25px">
                               <img src="static/img/img.png" class="img-fluid"
                            alt="intro-img" >

                           
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <h1 class="display-5">Beware Before Going Out !</h1>
                    <p class="lead">An air quality index is a scale used to show how polluted the air is, along with the risks associated with each rating.
                      AQI depends on the PM<sub>2.5</sub> value of your city. </p>
                         <p>Drop your city name below ↓</p>
                    <hr class="my-4">
                   

                    <form method="POST" , action="/">
                        <div class="form-row">
                           
                            <div class="col-9">
                                <input type="text" class="form-control my-1"
                                    placeholder="Enter City name" name='city' required>
                            </div>
                            <div class="col-3">
                                <button type="submit" class="btn btn-primary my-1 btn-block">Predict</button>
                            </div>
                        </div>
                    </form>
            

              <div class="container-fluid" style="background-color: #F1F0EF">
                    <h3>{{ title }}</h3>


                    
                   {% if aqi %}
                  
                    <h4>Value Of PM<sub>2.5</sub> in <span style="color: #7D54B9;font-weight: bold;">{{ city }} </span> is <span style="color: #5B5713">{{  lr_pm }} </span></h4>

                    {% if aqi == 1 %}
                    <h5 class="text text-success"> <img src="static/img/1.png"> </h5>

                    {% elif  aqi == 2  %}
                    <h5 class="text text-info"><img src="static/img/2.png"></h5>

                    {% elif  aqi == 3  %}
                    <h5 class="text text-primary"><img src="static/img/3.png"></h5>

                    {% elif  aqi == 4  %}
                    <h5 class="text text-warning"><img src="static/img/4.png">
                    </h5>

                    {% elif  aqi == 5  %}
                    <h5 class="text text-danger"><img src="static/img/5.png"></h5>

                    {% endif %}
                    {% endif %}
                   
          
     

                </div>

                </div>
            </div>
            <hr>



{% endblock %}