    T Average Temperature (°C)
    TM Maximum temperature (°C)
    Tm Minimum temperature (°C)
    SLP Atmospheric pressure at sea level (hPa)
    H Average relative humidity (%)
    VV Average visibility (Km)
    V Average wind speed (Km/h)
    VM Maximum sustained wind speed (Km/h)
