@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
}

.header-home {
  top: 210%;

  left: 20%;
  right: 0;
  padding: auto;
  position: fixed;
}
