.btn-custom-login {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #5ca9fb;
  background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  padding: 14px 34px;
  letter-spacing: 1px;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  border-radius: 25px;
  transition: all 0.5s linear;
  border: 0;
  margin-left: 10px;
}
.btn-custom-login:hover,
.btn-custom-login:focus,
.btn-custom-login.focus,
.btn-custom-login:active,
.btn-custom-login.active {
  color: #fff;
  background-image: none;
  background-color: #6372ff;
}
